//@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import "_variables";


body {
  //background: #E5E5E5;
  background: $mainTheme;
  color: #fff;
  //align-items: center;
  //justify-content: center;
  //min-height: 100vh;

}

.main{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 70px);
  row-gap: 20px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px;
}

.description{
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  &__first{
    grid-column: 2/4;
    grid-row-start: 2;
  }
  &__second{
    grid-column: 5/8;
    grid-row-start: 2;
    margin-top: 30px;
  }
  &__third{
    grid-column: 9/12;
    grid-row-start: 2;
    margin-top: 50px;
  }
}


.entry{
  grid-column: 2/12;
  grid-row: 4/7;
  padding: 15px 20px;
}

.button{

  position: relative; //important
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 40px;
  overflow: hidden;
  outline: $mainTheme;
  &__read{
    grid-column: 3/5;
    grid-row-start: 7;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
  }
  &__save{
    grid-column: 9/11;
    grid-row-start: 7;
    background: linear-gradient(90deg,#755bea,#ff72c0);
  }
}

span{
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}

@keyframes animate{
  0%{
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100%{
    width: 500px;
    height: 500px;
    opacity: 0;
  }

}